<div class="social--big--container">
  {{ with .Site.Params.social.instagram }}
    <a class="social-big" href="https://www.instagram.com/{{ . }}" title="" class="instagram">
      <div class="social-big instagram">{{ . }}</div>
    </a>
  {{end}}
  {{ with .Site.Params.social.etsy }}
    <a class="social-big" href="https://www.etsy.com/uk/shop/{{ . }}" data-animate-hover="pulse" class="external">
      <div class="social-big etsy">{{ . }}</div>
    </a>
  {{end}}
  {{ with .Site.Params.social.email }}
    <a class="social-big" href="mailto:{{ . }}" class="email">
      <div class="social-big email">{{ . }}</div>
    </a>
  {{end}}
  {{ with .Site.Params.social.phone }}
    <a class="social-big" href="tel:{{ . }}" data-animate-hover="pulse" class="email">
      <div class="social-big phone">{{ . }}</div>
    </a>
  {{end}}
</div>